# -----------------------------------
# Terraform
# -----------------------------------

# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# Terraform plan output
*.tfplan

# Terraform CLI config
.terraformrc
terraform.rc
